<html lang="es">
<head>
  <meta charset="utf-8">
  <title>Prueba Ansible</title> 
</head>

<body>
   <h1>Gathering Facts</h1>
  <p>Nombre del ordenador:: {{ ansible_hostname }}</p>
  <p>Sistema: {{ansible_distribution}} {{ansible_distribution_release}} </p>
  <h1>Variables declaradas por el usuario a nivel de nodo</h1>
  <p>IP: {{ansible_ssh_host}}</p>
</body>
</html>